body {
    min-width: 1240px;
    font-weight: 400;
    font-size: 15px;
    font-family: "Open Sans Light", "Arial", sans-serif
}

@font-face {
    font-weight: 700;
    font-family: "Gilroy ExtraBold";
    font-style: normal;
    src: url(../fonts/gilroyextrabold.woff) format("woff"), url(../fonts/gilroyextrabold.woff2) format("woff2")
}

@font-face {
    font-weight: lighter;
    font-family: "Gilroy Light";
    font-style: normal;
    src: url(../fonts/gilroylight.woff) format("woff"), url(../fonts/gilroylight.woff2) format("woff2")
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    font-style: normal;
    src: url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2")
}

@font-face {
    font-weight: lighter;
    font-family: "Open Sans Light";
    font-style: normal;
    src: url(../fonts/opensanslight.woff) format("woff"), url(../fonts/opensanslight.woff2) format("woff2")
}

h1,
h2 {
    font-size: 47px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    color: #000000;
}



li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}



/* Логотипы картинки

.logo {
    position: absolute;
    top: -18px;
    left: 57px;
}

/*---- Бегунок у формы----

.range__block {
    position: relative;
    width: 200px;
}

.range__first {
    background: grey;
    width: 200px;
    height: 3px;
}

.range__second {
    background: green;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 50px
}

.prev,
.next {
    background-color: #ffffff;
    border-color: #000000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.prev:before,
.next:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #000000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.prev {
    left: 142px;
}

.next {
    left: 50px;
}

/*---------------------------------------*/
